@charset "UTF-8";
/* CSS Document */
html{
    width: 100%;
    height: 100%;
}
h1{
    color: #fff;
}
body{
    background-color:#000;
    margin: 0;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
#loader-bg {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFF;
    z-index: 10;
}
#loading{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}
.title{
    position: absolute;/*絶対配置*/
    color: white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    width: 150px;
    text-align: center;
    z-index: 10;
    font-weight: bold;
    font-size: 150%;

    border: solid 3px white;/*線色*/
    padding: 1.0em;/*文字周りの余白*/
    border-radius: 0.5em;/*角丸*/
}

a#scroll {
    position: absolute;
    padding-top: 60px;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    color: white;
    text-decoration: none;
    display: inline-block;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
a#scroll span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}
a#scroll span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}
a#scroll span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255,255,255,.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb 3s infinite;
    animation: sdb 3s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(255,255,255,.1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(255,255,255,.1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.contents-wrap {
    display: flex;
    justify-content: space-between;
}
.contents-wrap:nth-child(odd) {
    flex-direction: row-reverse;
}
.contents-text {
    color: white;
    width: 60%;
    padding-top: 15%;
    text-align: center;
}
.contents-img1,
.contents-img2,
.contents-img3{
    width: 55%;
}
.contents-img1{
    margin-top:5%;
}
.contents-img1,.contents-img3{
    margin-right: 4%; /*レスポンシブでは%指定*/
}
.contents-img2{
    margin-left: 4%;
}
.contents-text h2 {
    margin-bottom: 1rem;
    font-size: 2.2rem;
}

.contents-img1 img,
.contents-img2 img,
.contents-img3 img{
    display: block;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1010px){
    .contents-wrap,
    .contents-wrap:nth-child(odd)  {
        flex-direction: column;
    }
    .contents-text,
    .contents-img1,
    .contents-img2,
    .contents-img3{
        width: 100%;
        margin:0;
    }
    .contents-img1{
        margin-top: 40%;
    }
    .contents-text {
        padding: 3rem;
    }

    .contents-text h2 {
        text-align: center;
    }
}
