#container {
    width: 100%;
    text-align: center;
    position: fixed;
}

/* SlideShow
--------------------------- */
.SlideShow {
    width: 100%;
    text-align: left;
    position: relative;
    overflow: hidden;
}
.SlideShow ul {
    top: 50%;
    left: 50%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}
.SlideShow ul li {
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    position: absolute;
}
.SlideShow ul li img {
    width: 100%;
}


